# general things to ignore
/.tscache
/.eslintcache
/.idea
/lib/
/dist/
/build/
/dist/tsBuildInfoFile
/dist_python/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
*.log
*.pot
*.pyc
*.swp
*.lock
# due to using tox and pytest
.tox
.cache
node_modules/
*.log
/.awcache
/.cache-loader
/bundles/
package-lock.json
yarn.lock
# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

yarn.lock

# pyenv
.python-version

# env
/.venv*/
/venv/

# Datasets
/public/datasets
/reaction_cime/temp-files
/temp-files/*
